/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 40px;
    text-align: center;
    height: 441px;
}

main ul {
    list-style: none;
    padding: 0;
}

main ul li {
    margin: 10px 0;
    font-size: 18px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    
}
